---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'Antonella Brunelli Tourist Guide';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About me</h1>
    <p>Hello and welcome! My name is Antonella, and I'm truly delighted to be your tourist guide through some of Italy's most beautiful and culturally rich destinations.</p>
    <p>My career in tourism has been an incredible adventure, enriched by a life-changing experience in Ireland. During my time there, I had the privilege of immersing myself not only in the warmth and hospitality of the Irish people but also in the lush, verdant landscapes that inspired my passion for gardening. This led me to spend a year studying at Kildalton College in County Kilkenny, where I deepened my knowledge of horticulture and explored the diverse traditions of garden design. (I also wrote my university thesis on the fascinating connection between English culture and garden design.)</p>
    <p>Whether it's exploring the fashionable streets of Milan, admiring the elegant beauty of Lake Como, uncovering the historical wonders of Verona, or getting lost in the magical canals of Venice, I look forward to guiding you through these stunning locations with a personal touch.</p>
    <p>My experiences, both professional and academic, allow me to offer a unique perspective, blending historical, cultural, and botanical insights.</p>
    <p>For me, the joy of being a guide isn't just about showing you the landmarks—it's about helping you connect with the essence of each place, whether through the delicate scent of a garden, the stories behind the architecture, or the flavors of a local dish, all woven into Italy’s rich heritage.</p>
    <figure class="about-image">
      <img src="/assets/avatar.png" alt="" width="330">
    </figure>
  </div>
</BaseLayout>

<style>
  .about-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 30px;
  }
</style>