---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'Antonella Brunelli Tourist Guide';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About me</h1>
    <p>Hello and welcome! My name is Antonella, and I'm truly delighted to be your guide on this exciting journey through some of Italy's most beautiful and culturally rich destinations. With over 30 years of experience in the tourism industry, I've had the honor of introducing visitors to the vibrant cities of Milan, the breathtaking shores of Lake Como, and the timeless beauty of Verona and Venice. Each of these places holds a special place in my heart, and I'm passionate about sharing their stories with you.</p>
    <p>My career in tourism has been an incredible adventure, and one that was enriched by a life-changing experience in Ireland. During my time there, I was lucky enough to immerse myself not only in the warmth and hospitality of the Irish people but also in the lush, verdant landscapes that so inspired my passion for gardening. This led me to spend a year studying at Kildalton College, where I deepened my knowledge of horticulture and learned about the diverse traditions of garden design. I also had the opportunity to write my thesis on the fascinating connection between gardens and culture, and how plants influence the environments and communities we live in.</p>
    <p>Whether it's exploring the fashionable streets of Milan, enjoying the serene beauty of Lake Como, uncovering the historical wonders of Verona, or getting lost in the magical canals of Venice, I look forward to guiding you through these stunning locations with a personal touch. My experiences, both professional and academic, allow me to offer you a unique perspective, blending historical, cultural, and botanical insights.</p>
    <p>For me, the joy of being a guide isn't just about showing you the landmarks—it's about helping you connect with the essence of each place, whether through the delicate scent of a garden, the stories behind the architecture, or the flavors of a local dish. Let's make this an unforgettable experience together, filled with new discoveries, hidden gems, and the beauty of Italy's rich heritage. I'm excited to share it all with you!</p>
    <figure class="about-image">
      <img src="/assets/avatar.png" alt="" width="330">
    </figure>
  </div>
</BaseLayout>

<style>
  .about-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 30px;
  }
</style>
