<footer>
  <span>
    &copy; {new Date().getFullYear()} Antonella Brunelli.
  </span>
</footer>

<style>
  footer {
    font-size: .8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }
</style>
