<footer>
  <span>
    Italian VAT 05115870239  
  </span>
  <span>
    antonella@antonellatours.it
  </span>
  <span>
    &copy; {new Date().getFullYear()} Antonella Brunelli.
  </span>
</footer>

<style>
  footer {
    font-size: .8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
</style>
