<style>
  img {
    display: block;
    width: 3em;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href="/">
  <img alt="logo" src="/assets/flower.svg"/>
</a>
